In [2]:
import pandas as pd

In [3]:
df_shap = pd.read_csv("VIP_SHAP_Importance.csv")

In [4]:
df_shap.head()

           Feature  SHAP_Importance  Rank
0      Slope_Spend         4.299572     1
1    Slope_Balance         2.770525     2
2      Slope_Count         2.444372     3
3       ì”ì•¡_ì¼ì‹œë¶ˆ_B0M         0.007571     4
4  ì¦ê°ìœ¨_ì´ìš©ê±´ìˆ˜_ì¼ì‹œë¶ˆ_ë¶„ê¸°         0.007512     5

In [8]:
len(df_shap)

862

In [11]:
df_VIF = pd.read_csv("VIF_ìµœì í™”_ìµœì¢…ì ìˆ˜_ì •ë ¬.csv")

In [12]:
df_VIF.head()

                 ë³€ìˆ˜ëª…       VIF
0  ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ì²­êµ¬ì„œ_B0M  9.749834
1           ì—°ì²´ê±´ìˆ˜_R6M  9.748268
2     ì¦ê°ìœ¨_ì´ìš©ê±´ìˆ˜_ì‹ ìš©_ë¶„ê¸°  9.735530
3    ì¦ê°ìœ¨_ì´ìš©ê±´ìˆ˜_ì¼ì‹œë¶ˆ_ë¶„ê¸°  9.671022
4         ì—°ì²´ì…ê¸ˆì›ê¸ˆ_B2M  9.593935

In [13]:
len(df_VIF)

228

In [ ]:
df_shap = df_shap.rename(columns={'Feature': 'ë³€ìˆ˜ëª…'})

df_merged = pd.merge(df_shap, df_VIF, on='ë³€ìˆ˜ëª…', how='left')


result_df = df_merged[['ë³€ìˆ˜ëª…', 'SHAP_Importance', 'VIF']].sort_values(by='SHAP_Importance', ascending=False)


result_df = result_df.reset_index(drop=True)

display(result_df)

                  ë³€ìˆ˜ëª…  SHAP_Importance       VIF
0         Slope_Spend         4.299572       NaN
1       Slope_Balance         2.770525       NaN
2         Slope_Count         2.444372       NaN
3          ì”ì•¡_ì¼ì‹œë¶ˆ_B0M         0.007571       NaN
4     ì¦ê°ìœ¨_ì´ìš©ê±´ìˆ˜_ì¼ì‹œë¶ˆ_ë¶„ê¸°         0.007512  9.671022
..                ...              ...       ...
857   ì»¨íƒê±´ìˆ˜_CA_ì²­êµ¬ì„œ_B0M         0.000000       NaN
858      íŠ¹ë³„í•œë„ë³´ìœ ì—¬ë¶€_R3M         0.000000       NaN
859  ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_EM_B0M         0.000000  2.108104
860     ì¼ì‹œë¶ˆONLYì „í™˜ê°€ëŠ¥ì—¬ë¶€         0.000000       NaN
861          í•œë„ì¦ì•¡í›„ê²½ê³¼ì›”         0.000000  2.703631

[862 rows x 3 columns]

In [17]:
# 1. íŒŒì¼ ì´ë¦„ ì •í•˜ê¸° (ì›í•˜ëŠ” ì´ë¦„ìœ¼ë¡œ ë°”ê¿”ë„ ë¼!)
file_name = "VIP_SHAP_and_VIF_Summary.csv"

# 2. CSVë¡œ ì €ì¥í•˜ê¸° (í•œê¸€ ê¹¨ì§ ë°©ì§€ ì˜µì…˜ í¬í•¨)
result_df.to_csv(file_name, index=False, encoding='utf-8-sig')

print(f"ğŸ‰ '{file_name}' íŒŒì¼ë¡œ ì €ì¥ì´ ì™„ë£Œë˜ì—ˆì–´!")

ğŸ‰ 'VIP_SHAP_and_VIF_Summary.csv' íŒŒì¼ë¡œ ì €ì¥ì´ ì™„ë£Œë˜ì—ˆì–´!